extend layout 

block content
    h1 #{title}
    p Math.pow() is applied to #{d1} is #{pow}
    p Math.sign() is applied to #{d2} is #{sign}
    p Math.tanh() is applied to #{d3} is #{tanh}
    p Math.trunc() is applied to #{d4} is #{trunc}